.height-48 {
    height: 48px;
}

.border-normal {
    border: 1px solid black;
}

.table-border-collapse {
    border-collapse: collapse;
}

.table-width-100percent {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-vertical-bottom {
    height: 48px;
    vertical-align: bottom;
}

.padding-16 {
    padding: 16px;
}

.horizontal-divider {
    border-bottom: 1px solid black;
}

.hovarable:hover {
    background-color: aqua;
}

.striped-style:nth-child(even) {
    background-color: pink;
}

.responsive-table {
    overflow-x: auto;
}