body {
    overflow: auto;
}

.unordered-list-2 {
    list-style-type: none;
    margin: 0;
    border: 0;
}

/* 讓link變成一個區塊，寬度可調整可點擊的區塊大小 */

.unordered-list-3 li a {
    display: block;
    width: 60px;
    background-color: greenyellow;
}

.unordered-list-4 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: aquamarine;
}

.unordered-list-4 li a {
    display: block;
    color: orange;
    padding: 8px 16px;
    /* 取消底線 */
    text-decoration: none;
}

.unordered-list-4 li a:hover {
    background-color: blanchedalmond;
    color: brown;
}

.unordered-list-4 li a.active {
    background-color: brown;
    color: white;
}

.unordered-list-5 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkseagreen;
    border: 1px solid #555;
}

.unordered-list-5 li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.unordered-list-5 li {
    text-align: center;
    border-bottom: 1px solid #555;
}

.unordered-list-5 li:last-child {
    border-bottom: none;
}

.unordered-list-5 li a.active {
    background-color: darkred;
    color: whitesmoke;
}

.unordered-list-5 li a:hover:not(.active) {
    background-color: darkorange;
    color: white;
}

.unordered-list-6 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: seashell;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.unordered-list-6 li a {
    display: block;
    color: darkblue;
    padding: 8px 16px;
    text-decoration: none;
}

.unordered-list-6 li a.active {
    background-color: rebeccapurple;
    color: darkblue;
}

.unordered-list-6 li a:hover:not(.active) {
    background-color: yellowgreen;
    color: darkmagenta;
}

.unordered-list-7 li {
    display: inline;
}

.unordered-list-8 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.unordered-list-8 li {
    float: left;
}

.unordered-list-8 li a {
    display: block;
    padding: 8px;
    background-color: khaki;
}

.unordered-list-9 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.unordered-list-9 li {
    float: left;
}

.unordered-list-9 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.unordered-list-9 li a:hover {
    background-color: #111;
}

.unordered-list-9 li a.active {
    background-color: #4caf50;
}

.unordered-list-9 li.right-list {
    float: right;
}

.unordered-list-10 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.unordered-list-10 li {
    float: left;
    border-right: 1px solid #bbb;
}

.unordered-list-10 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.unordered-list-10 li a:hover {
    background-color: #111;
}

.unordered-list-10 li a.active {
    background-color: #4caf50;
}

.unordered-list-10 li.right-list {
    float: right;
}